<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script defer src="/javascripts/home.js"></script>
  <%- include('./partials/header') %>
</head>

<body class="home-page">
  <div class="background-image">
    <div class="frosted-glass">
      <h1 class="animated-heading">
        <%= title %>
      </h1>
      <p class="animated-paragraph">A plant watering tracker</p>
    </div>
  </div>
  </body>

  <%- include('./partials/footer') %>
</html>