<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <%- include('./partials/header') %>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>A plant watering tracker</p>

  <%- include('./partials/footer') %>
</body>

</html>