body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1rem;
} 

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40px;
}

/* GOOGLE LOGIN */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}