:root {
  --primary-100: #8F9779;
  --primary-200: #737b5e;
  --primary-300: #373f25;
  --accent-100: #FFB6B9;
  --accent-200: #98585c;
  --text-100: #4D4D4D;
  --text-200: #797979;
  --bg-100: #F2EFE9;
  --bg-200: #e8e5df;
  --bg-300: #bfbdb7;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg-100);
  color: var(--text-100);
}

a {
  color: var(--accent-100);
  margin: 1rem;
}

h1, h2, p {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  letter-spacing: 1rem;
  color: var(--primary-100);
}

h1 {
  font-size: 50px;
}

h2 {
  letter-spacing: normal;
}

p {
  color: var(--text-200);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 50px;
  background-color: var(--primary-200);
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.background-image {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  opacity: 0; 
  transition: opacity 1.6s ease-in-out;
}

body.home-page.loaded .background-image {
  opacity: 1; 
}

.animated-heading, .animated-paragraph {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  transform: translateY(50px);
}

body.home-page.loaded .animated-heading {
  opacity: 1;
}

body.home-page.loaded .animated-paragraph {
  opacity: 1;
}

body.home-page {
  background-color: transparent;
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--bg-100);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.add-plant-form .form-group {
  margin: 15px;
}

.add-plant-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-200);
}

.add-plant-form input[type="text"],
.add-plant-form input[type="date"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-200);
  background-color: var(--bg-200);
  color: var(--text-100);
}

.btn-submit {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transform: translateY(9px);
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--bg-100);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid var(--primary-200);
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--primary-300);
  color: white;
  border-radius: 5px;
}

tr:nth-child(even) {
  background-color: var(--bg-200);
}

.btn, .btn-delete {
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn {
  background-color: var(--primary-100);
  margin: 7px;
}

.btn:hover {
  background-color: var(--primary-200);
}

.btn-delete {
  background-color: var(--accent-200);
}

.btn-delete:hover {
  background-color: var(--accent-100);
}

.plant-details, .comments-section {
  background-color: var(--bg-200);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page-header {
  text-align: center;
  margin: 20px 0;
  color: var(--primary-100);
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--bg-100);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: var(--text-100);
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1200px; 
  padding: 20px;
}

.plant-details, .comments-section {
  flex: 1; 
  margin: 0 10px; 
  background-color: var(--bg-200);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.comment-textarea {
  width: calc(100% - 20px); 
  margin-bottom: 10px;
  border: 1px solid var(--primary-200);
  border-radius: 5px;
  padding: 10px;
}

.comments-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  background-color: var(--bg-300);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}