<%- include('../partials/header') %>

    <div class="page-header">
        <h2>ADD A PLANT</h2>
    </div>

    <div class="form-container">
        <form action="/plants/add" method="POST" class="add-plant-form">
            <div class="form-group">
                <label for="name">Plant Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="nickname">Nickname:</label>
                <input type="text" id="nickname" name="nickname">
            </div>
            <div class="form-group">
                <label for="lastWateredDate">Last Watered:</label>
                <input type="date" id="wateredDate" name="wateredDate" required>
            </div>
            <div class="btn-submit">
                <button type="submit" class="btn">Add Plant</button>
            </div>
        </form>
    </div>

    <%- include('../partials/footer') %>